/* variables **/
:root {
    --black: black;
	--darkBackground: #121212;
    --midBackground: #181818;
    --lightBackground: #282828;
    --mainText: white;
    --subText: #adb9c7;
}

/* Formating for the monthly stats card**/
.refreshStats {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
}

.refreshStats:hover {
	cursor: pointer;
	padding: 7px;
}

/* changes to darkmode with new html */

/* video display page */

body.darkMode .ds-video-card {
	background-color: var(--darkBackground) !important;
	color: var(--mainText);
}

body.darkMode .ds-video-options__icon {
	color: var(--mainText);
}

body.darkMode .ds-form-switch__label {
	color: var(--mainText);
}

body.darkMode .ds-page {
	background-color: var(--midBackground);
}

body.darkMode .content-area {
	background-color: var(--midBackground);
}

body.darkMode .sidebar-area {
	background-color: var(--darkBackground) !important;
}

/* sorting bar at top of video page */

body.darkMode .ds-card__content {
	background-color: var(--darkBackground);
}

body.darkMode .ds-browse-menu .btn {
	background-color: var(--lightBackground) !important;
}

body.darkMode .ds-card__content .btn svg {
	color: var(--mainText);
}

body.darkMode .ds-text-black {
	color: var(--subText) !important;
}

body.darkMode .ds-badge__label {
	color: var(--darkBackground) !important;
}

/* general */

body.darkMode p:not(.ds-simple-card__title, .ds-simple-card__subtitle, .ds-simple-alternative-card__title, .ds-simple-alternative-card__subtitle) {
	color: var(--mainText);
}

/* menus */
body.darkMode .dropdown-menu {
	background-color: var(--lightBackground);
	color: var(--mainText);
}

/* sidebar */

body.darkMode .ds-sidebar__brand {
	background-color: var(--darkBackground);
}

body.darkMode .ds-sidebar__scroller {
	background-color: var(--darkBackground);
}

body.darkMode .ds-sidebar__session {
	background-color: var(--darkBackground);
}

body.darkMode .ds-card__title {
	color: var(--mainText);
}

body.darkMode .ds-form-dropdown__toggle--transparent {
	color: var(--mainText) !important;
}

/* when watching a video */
body.darkMode .ds-watch-page__video-title {
	color: var(--mainText);
}

body.darkMode .ds-watch-page__video-description {
	color: var(--subText) !important;
}

body.darkMode .ds-watch-page__video-published-on-icon {
	color: var(--mainText);
}

/* difficulty selector */
body.darkMode .ds-video-feedback-card__content {
	background-color: var(--darkBackground);
}

/* sidebar when watching a video */ 
body.darkMode .ds-card__header {
	background-color: var(--darkBackground);
	color: var(--mainText);
}

body.darkMode .ds-watch-page__playlist-counter {
	color: var(--subText);
}

body.darkMode .ds-series-options__icon {
	color: var(--subText);
}

body.darkMode .ds-video-horizontal-card {
	color: var(--mainText);
	background-color: var(--midBackground);
}

/* series page */

body.darkMode h1 {
	color: var(--mainText);
}

body.darkMode .ds-breadcrumbs__item {
	color: var(--subText);
}

body.darkMode .ds-breadcrumbs__label {
	color: var(--subText);
}

body.darkMode .ds-breadcrumbs__label--activated {
	color: var(--mainText);
}

/* when clicked on a series */

body.darkMode .ds-modal__body {
	background-color: var(--midBackground);
}

body.darkMode .ds-episode-card,
body.darkMode .ds-coming-soon-card {
	background-color: var(--darkBackground);
}

body.darkMode .ds-episode-card__description {
	color: var(--subText);
}

/* progress page */

body.darkMode .ds-progress-page .ds-card {
	border: 1px solid var(--subText);
}

body.darkMode .ds-form-calendar__nav {
	color: var(--mainText);
}

body.darkMode .ds-form-calendar__column-wrapper:not(.ds-form-calendar__column-wrapper--emphasized, .ds-form-calendar__column-wrapper--highlighted) {
	color: var(--subText);
}

body.darkMode .ds-form-calendar__column-wrapper--highlighted {
	color: var(--black);
}

body.darkMode .ds-mini-card {
	background-color: var(--midBackground);
	color: var(--mainText);
	border: 1px solid rgb(99, 84, 177);
}

/* edit daily goal */
body.darkMode .ds-modal__header,
body.darkMode .ds-modal__footer {
	background-color: var(--darkBackground);
}

body.darkMode .ds-modal__title {
	color: var(--mainText);
}

body.darkMode .ds-daily-goal-modal__goal {
	color: var(--mainText);
}

body.darkMode .ds-modal__close {
	color: var(--mainText);
}

/* formatting stats card */
body.darkMode .ds-mini-card button {
	background-color: var(--lightBackground);
	color: var(--mainText);
}

body.darkMode .ds-mini-card button:hover {
	font-size: 20px;
}

/* level descriptions */
body.darkMode .ds-level-modal__body {
	color: var(--subText);
}

/* adding outside hours */
body.darkMode .ds-form-label {
	color: var(--mainText);
}

/* viewing / editing outside hours */
body.darkMode .ds-table * {
	background-color: var(--darkBackground) !important;
	color: var(--mainText) !important;
}

/* my list page */
body.darkMode .ds-page__title {
	color: var(--mainText);
}

body.darkMode .nav-item {
	color: var(--mainText);
}

/* settings page */
body.darkMode .ds-card__body {
	color: var(--mainText);
}

/* daily goal popup (hopefully works) */
body.darkMode .ds-toast {
	background-color: var(--lightBackground);
}

/*to go back to the default light mode*/

body.lightMode .refreshStats {
	color: var(--black) !important;
	background-color: var(--mainText);
	border: 1px solid var(--subText);
}

body.lightMode .refreshStats:hover {
	background-color: var(--subText);
	font-size: 20px;
	border: 1px solid var(--mainText);
}

body.lightMode .statText{
	color: var(--black);
}