/* variables **/
:root {
    --darkBackground: #121212;
    --midBackground: #181818;
    --lightBackground: #282828;
    --mainText: white;
    --subText: #adb9c7;
}

/* Formating for the monthly stats card**/
.refreshStats {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
}

.refreshStats:hover {
	cursor: pointer;
	padding: 7px;
}

/* CSS to change from light to dark mode **/



/*to go back to the default*/

body.lightMode .refreshStats {
	color: black !important;
}

body.lightMode .refreshStats:hover {
	background-color: var(--subText);
	font-size: 20px;
}

body.lightMode .statText{
	color: black;
}


/* changes to darkmode with new html */

/* video display page */

body.darkMode .ds-video-card {
	background-color: var(--darkBackground) !important;
	color: var(--mainText);
}

body.darkMode .ds-video-options__icon {
	color: var(--mainText);
}

body.darkMode .ds-form-switch__label {
	color: var(--mainText);
}

body.darkMode .ds-page {
	background-color: var(--midBackground);
}

body.darkMode .content-area {
	background-color: var(--midBackground);
}

body.darkMode .sidebar-area {
	background-color: var(--darkBackground) !important;
}

/* sorting bar at top of video page */

body.darkMode .ds-card__content {
	background-color: var(--darkBackground);
}

body.darkMode .ds-card__content .btn {
	background-color: var(--lightBackground) !important;
}

body.darkMode .ds-card__content .btn svg {
	color: var(--mainText);
}

body.darkMode .ds-text-black {
	color: var(--subText) !important;
}

/* general */

body.darkMode p {
	color: var(--mainText);
}

/* menus */
body.darkMode .dropdown-menu {
	background-color: var(--lightBackground);
	color: var(--mainText);
}

/* sidebar */

body.darkMode .ds-sidebar__brand {
	background-color: var(--darkBackground);
}

body.darkMode .ds-sidebar__scroller {
	background-color: var(--darkBackground);
}

body.darkMode .ds-sidebar__session {
	background-color: var(--darkBackground);
}

body.darkMode .ds-card__title {
	color: var(--mainText);
}

body.darkMode .ds-form-dropdown__toggle--transparent {
	color: var(--mainText) !important;
}

/* when watching a video */
body.darkMode .ds-watch-page__video-title {
	color: var(--mainText);
}

body.darkMode .ds-watch-page__video-description {
	color: var(--subText);
}

/* sidebar when watching a video - start from here */ 
body.darkMode .card {
	background-color: var(--darkBackground);
	color: var(--mainText);
}