body {
   width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#header {
    color: orange;
    font-size: 22px;
    font-weight: 600;
}
 
#monthlyStats {
    margin-top: 10px;
    display: flex;
    padding-top: 5px; 
    padding-bottom: 5px; 
    background-color: white;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 15px;
}    
 
#monthlyStats:hover {
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
}

#monthlyStats:active {
    background-color: darkorange;
    font-size: 16px;
    cursor: pointer;
}

#updatableMonthlyStats {
    text-align: center;
    margin-top: 10px;
    padding: 2px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#githubLogo {
    max-width: 28px;
    padding-top: 10px;
}