body {
   width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#header {
    color: orange;
    font-size: 22px;
    font-weight: 600;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#githubLogo {
    max-width: 28px;
    padding-top: 10px;
}